@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+IS:wght@100..400&display=swap");

.contenedorLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10vh 150px 250px 150px;
}

.cajaLogin {
  border: none;
  border-radius: 10px;
  background-color: #1a1a1a;
  padding: 50px 50px;
  color: #fff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 1);
}

.cajaLogin h2 {
  text-align: center;
  font-family: "Inter", sans-serif;
  margin-bottom: 20px;
}

.cajaLogin i {
  font-size: 20px;
  margin-right: 5px;
}

.formLogin {
  width: 100%;
}

.formLogin input {
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  width: 300px;
}

.input-group {
  padding: 10px;
}

.formLogin button {
  padding: 10px;
  width: 55%;
  color: #fff;
  background-color: #7130e9;
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  transition: all 0.5s ease;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  margin-bottom: 20px;
}

.formLogin button:hover {
  transform: scale(1.02);
}
