@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");

* {
  font-family: "Poppins";
}

.listarPaquetes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.listarPaquetes h2 span {
  font-family: "Fugaz One";
  text-transform: uppercase;
  font-size: 2rem;
  background: white;
  padding: 1%;
  border-radius: 15px;
  border: 1px solid black;
  transition: background 0.4s ease, color 0.4s ease;
}

.listarPaquetes h2 {
  text-align: center;
  padding: 1%;
}

.listarPaquetes .titulo {
  padding: 5px;
  background-image: url("../../img/titulos.png");
  background-repeat: repeat;
  background-size: 20%;
  border-top: 4px double black;
  border-bottom: 4px double black;
  height: 100%;
}

.listarPaquetes .pro {
  width: 20%;
  min-width: 250px;
  padding: 10px 12px;
  border: 2px solid #d8d8d8;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  margin: 30px 20px;
  transition: 0.2s ease;
}

.listarPaquetes .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.15);
  transform: scale(1.03);
}

.listarPaquetes .pro h4 {
  text-align: center;
  transition: background-color 0.3s ease, padding 0.3s ease, color 0.3s ease,
    width 0.3s ease;
  background-color: transparent;
  border-radius: 25px;
  font-size: 16px;
}

.listarPaquetes .pro:hover h4 {
  background-color: #141414;
  padding: 5px;
  color: #fff !important;
  text-align: center;
  border-radius: 25px;
}

.listarPaquetes .pro img {
  background-color: #ebebeb;
  width: 100%;
  height: auto;
  border: 2px solid #dfdfdf;
  border-radius: 20px;
}

.listarPaquetes .pro .des {
  text-align: start;
  padding: 10px 0;
  letter-spacing: 0.5px;
}

.listarPaquetes .pro .des span {
  margin: 5px 0;
  color: #9b9b9b;
  font-size: 14px;
}

.listarPaquetes .pro .des h5 {
  margin: 5px 0;
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 16px;
  text-transform: uppercase;
}

.listarPaquetes .pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);
  margin: 5px 0;
}

.listarPaquetes .pro .des h4 {
  padding-top: 7px;
  font-style: 15px;
  font-weight: bold;
  color: #1a1a1a;
}
.listarPaquetes a {
  text-decoration: none;
}
