.vistaPaquetes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-paquete {
    width: 1000px;
    display: flex;
}

.imagen img {
    width: 750px;
    padding: 10px 12px;
    border: 2px solid #1a1a1a;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    margin: 120px 20px;
    transition: 0.6s ease;
}

.imagen img:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
    border: 2px solid #1a1a1a;
    background-color: #1a1a1a;
    transform: scale(1.03);
}

.tag {
    background-color: #7130e9;
    color: #fff;
    text-align: center;
    margin-top: 150px;
    width: 50%;
}

.texto {
    padding: 10px 12px;
}

#namePaquete {
    text-transform: uppercase;
    font-size: 24px;
    margin: 1vh;
    font-weight: bold;
}

#descripcionPaquete {
    margin-top: 10px;
    font-family: "League Spartan";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

#precioPaquete {
    margin-top: 15px;
    background-color: #7130e9;
    text-align: center;
    color: #fff;
    padding: 2.5px;
    border-radius: 25px;
    margin: 1vh;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 20px;
    color: #333;
}

input[type="number"] {
    
    padding: 8px;
    font-size: 12px;
    border: 1px solid #141414;
    border-radius: 4px;
    margin-bottom: 10px;
}

.cupo, .fecha {
    font-size: 12px !important;
}

#btnComprar {
    padding: 10px;
    color: #fff;
    width: 22%;
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.5px;
    cursor: pointer;
}

#btnComprar:hover {
    background-color: white;
    color: #000000;
    border: 1px solid blue;
}

