@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+IS:wght@100..400&display=swap");

* {
  font-family: "Inter" !important;
}

.vistaPaquetes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-paquete {
  width: 1000px;
  display: flex;
  margin-left: 300px;
}

.imagen img {
  width: 500px;
  padding: 5px;
  border: 1.5px solid #7130e9;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  margin: 120px 20px;
  transition: 0.6s ease;
}

.imagen img:hover {
  box-shadow: 0 3px 10px rgba(138, 13, 255, 0.322);
  transform: scale(1.01);
}

.tag {
  background-color: #7130e9;
  color: #fff;
  text-align: center;
  margin-top: 120px;
  width: 50%;
}

.texto {
  padding: 10px 12px;
}

#namePaquete {
  text-transform: uppercase;
  font-size: 24px;
  margin: 1vh;
  font-weight: bold;
}

#descripcionPaquete {
  margin-top: 10px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

#precioPaquete {
  background-color: #7130e9;
  text-align: center;
  color: #fff;
  padding: 2.5px;
  margin-bottom: 10px;
  font-weight: bold;
  width: 120px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 20px;
  color: #333;
}

input[type="number"] {
  padding: 8px;
  font-size: 12px;
  border: 1px solid #7130e9;
  border-radius: 4px;
  margin-bottom: 10px;
}

.cupo,
.fecha {
  font-size: 12px !important;
}

.fecha {
  border: none !important;
  margin-left: -5px !important;
  text-transform: capitalize;
  margin-bottom: -10px !important;
}

#btnComprar {
  padding: 10px;
  color: #fff;
  width: 22%;
  text-align: center;
  background-color: #7130e9;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

#btnComprar:hover {
  box-shadow: 0 3px 10px rgba(138, 13, 255, 0.322);
  transform: scale(1.02);
  background-color: #5b21c7;
}
